<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Master</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('home_page')}}">Password Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        {% if not current_user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home_page')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.signup')}}">SignUp</a>
      </li>
      {% endif %}

      {% if current_user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

</html>