<!DOCTYPE html>
<html>
    <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Master</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>

    <body>
        <div>
            <h3 class="display-3 text-center my-3">Password Manager</h3>

        </div>

<div class="container">
    
    <a href="{{url_for('index')}}" type="button" class="btn btn-primary mb-3">Back</a>


        <!--FORMS HERE-->
<form class="row g-3" method="POST" action="/update/{{task.id}}">
  <div class="col-auto">
    <label for="inputEmail" class="visually-hidden">Email</label>
    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" value="{{ task.email}}">
  </div>
  <div class="col-auto">
    <label for="inputURL" class="visually-hidden">Site URL</label>
    <input type="text" class="form-control" id="inputURL" name="site_url" placeholder="Site URL" value="{{ task.site_url}}">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="site_password" value="{{ task.site_password}}">
  </div>
  <div class="col-auto">
    <input type="checkbox" onclick="myFunction()">Show Password
  </div>
   
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Save Details</button>
  </div>
</form>
</div>

        
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>
function myFunction() {
  var x = document.getElementById("inputPassword2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

    </body>
</html>